---
layout: default
title: Big Ol' List of Links with Content on Digital Marketing
description: Categories include&#58 Data, Web Development/Design, Email Marketing, PPC, Working with Others & SEO.
---
<div class="uk-background-muted">

    <div class="uk-section uk-background-cover" style="background-image: url(../assets/images/notes.jpg); height: 40vh; background-repeat: no-repeat;"></div>

    <div class="uk-container uk-padding">
        <div class="uk-background-default uk-padding-large" style="margin-top: -150px">
            <div>
                 <h1 class="uk-text-bold uk-heading-hero">Notes</h1>
            </div>
            <div>
                <p>Just a big, organized list of links that I've saved for reference, categorized below.</p>
                <div class="button-container">
                    {% assign sorted = site.notes | sort:'short_name' %}
                    {% for note in sorted %}
                    <a class="uk-button uk-button-default uk-button-small" href="{{ note.url | downcase }}">{{ note.short_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-container uk-container-small uk-margin-top uk-margin-medium-bottom">
            <dl class="uk-description-list uk-description-list-divider">
              {% assign sorted = site.notes | sort:'short_name' %}
              {% for note in sorted %}
                <dt><h6 class="uk-text-uppercase uk-margin-remove-bottom"><a class="uk-link-heading uk-text-bold" href="{{ note.url | downcase }}">{{ note.name }}</a></h6></dt>
                <dd>{{ note.content | markdownify }}</dd>
              {% endfor %}
            </dl>
        </div>
    </div>
