---
layout: notes
title: Notes
---
    <div class="uk-background-muted">
        <div class="uk-padding uk-container">
            <div class="">

                {% assign filtered_notes = site.notes | where: 'slug', page.slug %}
                {% for note in filtered_notes %}
                <h4 class="uk-h2 uk-text-bold uk-text-capitalize">{{ note.name }}</h4>
                <p>{{ note.content | markdownify }}</p>
                {% endfor %}
                <p class="uk-text-meta">Select your tag(s) below:</p>

                <div uk-filter="target: .js-filter">
                    <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
                        <div>
                            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                                <li class="uk-active" uk-filter-control><a href="#">All</a></li>
                            </ul>
                        </div>

                {% assign filtered_posts = (site.posts | sort: 'tags') | where: 'categories', page.short_name %}
                {% assign double_filtered_posts = filtered_posts | where: 'group', 'note' %}
                {% assign unique_tags = double_filtered_posts | group_by:"tags" %}
                        <div>
                            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                {% for name in unique_tags %}
                                <li uk-filter-control="filter: [data-tag='{{ name.name | remove: '[' | remove: ']' | remove: '"' | slugify }}']; group: data-tag"><a href="#">{{ name.name | remove: '[' | remove: ']' | remove: '"'}}</a></li>
                    <!-- <button class="uk-button uk-active uk-button-default uk-button-small" type="button" uk-toggle="target: .toggle{{ name.name | remove: '[' | remove: ']' | remove: '"' | slugify }}; animation: uk-animation-fade; queued: true; duration: 300">{{ name.name | remove: '[' | remove: ']' | remove: '"'}}</button> -->
                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-subnav uk-subnav-pill" uk-margin>

                {% assign unique_types = double_filtered_posts  | group_by:"type" %}
                {% for name in unique_types %}
                                <li uk-filter-control="filter: [data-type='{{ name.name | remove: '[' | remove: ']' | remove: '"' | slugify }}']; group: data-type"><a href="#">{{ name.name | remove: '[' | remove: ']' | remove: '"'}}</a></li>
                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <ul class="js-filter uk-child-width-1-2@m" uk-grid="masonry: true" uk-height-match="target: > div > .uk-card">
                {% assign sorted_posts = (double_filtered_posts | sort: 'date') | reverse %}
                {% for post in sorted_posts %}
                        <li data-tag="{{ post.tags[0] | slugify }}" data-type="{{ post.type }}">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-header">
                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                            <img class="uk-border-circle" width="40" height="40" src="{{ post.image }}" alt="{{ post.title }}">
                                        </div>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-heading uk-margin-remove-bottom uk-text-break uk-text-bold">{{ post.title }}</h4>
                                            <p class="uk-text-meta uk-margin-remove-top"{{ post.date | date: "%m/%d/%y" }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom">
                                    <p>{{ post.content }}</p>
                                </div>
                                <div class="uk-card-footer">
                                    <a href="{{ post.link }}" class="uk-button uk-button-text" target="_blank">Read more</a>
                                </div>
                            </div>

                        </li>
                {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
