+<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Learn more, connect with or contact Ryan Cook, a marketing professional currently in Asheville, NC.">
        <meta name="author" content="Ryan Cook">
        <link rel="icon" href="img/favicon.ico">
        <!-- CSS FILES -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        {% feed_meta %}
        {% seo %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("button").click(function(){
                $( this ).toggleClass("uk-active");
            });
        });
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121928594-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-121928594-1');
        </script>

  </head>
  <body>
    {% include navigation.html %}
    <div class="uk-background-muted">
        <div class="uk-padding uk-container uk-container-small">
            <div class="button-container">

                {% assign filtered_notes = site.notes | where: 'slug', page.slug %}
                {% for note in filtered_notes %}
                <h4 class="uk-h2 uk-text-bold uk-text-capitalize">{{ note.name }}</h4>
                <p>{{ note.content | markdownify }}</p>
                {% endfor %}
                <p class="uk-text-meta">Select your tag(s) below:</p>


                {% assign filtered_posts = site.posts | where: 'categories', page.short_name %}
                {% assign double_filtered_posts = filtered_posts | where: 'group', 'note' %}
                {% assign unique_tags = double_filtered_posts | group_by:"tags" %}
                {% for name in unique_tags %}
                    <button id="btn-clear" class="uk-button uk-active uk-button-default uk-button-small" type="button" uk-toggle="target: .toggle{{ name.name | remove: '[' | remove: ']' | remove: '"' | slugify }}; animation: uk-animation-fade; queued: true; duration: 300">{{ name.name | remove: '[' | remove: ']' | remove: '"'}}</button>
                {% endfor %}

                <!-- <div class="uk-link-muted uk-text-meta uk-text-right uk-margin-small-top" >
                    <a class="clear-link" href="">clear all</a>
                </div> -->
            </div>

            <div class="uk-container uk-padding">
            {% for post in filtered_posts %}
                {% if post.group contains "note" %}
                <ul class="uk-list uk-list-small uk-list-inline toggle{{ post.tags[0] | slugify }} toggle-animation-queued uk-margin-small">
                    <li><a class="uk-link-text" href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                        <span class="uk-text-meta"> | tag: {{ post.tags[0] }} | added {{ post.date | date: "%m/%d/%y" }} </span>
                    </li>
                </ul>
                {% endif %}
            {% endfor %}
            </div>

            {% for name in unique_tags %}
            <p class="toggle{{ name.name | remove: '[' | remove: ']' | remove: '"' | slugify }}" hidden></p>
            {% endfor %}


        </div>
    </div>
    {% include footer.html %}
    {% include offcanvas.html %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script async src="/assets/js/particles.json"></script>
  </body>
</html>
