---
layout: default
---
<div class="uk-background-muted">

    <div class="uk-section uk-background-cover" style="background-image: url({{ page.image }}); height: 40vh; background-repeat: no-repeat;"></div>

    <div class="uk-container uk-padding">
        <div class="uk-background-default uk-padding-large" style="margin-top: -150px">
            <div>
                 <h1 class="uk-h1 uk-text-bold uk-hero">{{ page.title }}</h1>
            </div>
            <div>
                <p>{{ page.description }}</p>
            </div>
            <div>
                <p class="uk-article-meta">Written on {{ page.date | date_to_string }}. | {{ page.content | number_of_words }} words</p>
            </div>
        </div>
        <section class="uk-section uk-article">
            <div class="uk-container uk-container-small uk-padding-remove-top">
                {{ content | markdownify }}
            </div>

        </section>


        <section class="uk-section uk-padding-remove-bottom">
            <div class="uk-container">
                <h2 class="uk-text-bold">Similar Notes</h2>
                <div uk-slider>
                    <div class="uk-position-relative uk-visible-toggle" uk-height-match="target: > ul > li > div > div > .uk-card-body">
                         <ul class="uk-slider-items uk-child-width-1-3@m uk-grid">
                            {% assign filtered_notes =site.posts | where: 'group', 'note' %}
                            {% for post in filtered_notes %}
                                {% if post.tags contains page.tags[0] %}
                                <li>
                                    <div class="uk-child-width-expand@s uk-text-left uk-margin-auto" uk-grid>
                                        <div class="uk-card uk-card-default uk-padding-remove-left">
                                            <div class="uk-card-header">
                                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                    <div class="uk-width-auto">
                                                        <img class="uk-border-circle" width="40" height="40" src="{{ post.image }}">
                                                    </div>
                                                    <div class="uk-width-expand">
                                                        <h4 class="uk-heading uk-margin-remove-bottom uk-text-break uk-text-bold">{{ post.title }}</h4>
                                                        <p class="uk-text-meta uk-margin-remove-top">{{ post.date | date: "%m/%d/%y" }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body uk-padding-remove-top uk-padding-remove-bottom uk-margin-auto-vertical">
                                                <p>{{ post.content }}</p>
                                            </div>
                                            <div class="uk-card-footer">
                                                <a href="{{ post.link }}" class="uk-button uk-button-text uk-float-right" target="_blank">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
